body {
    background-color: burlywood;
    padding: 20px 10px;
    font-family: verdana;
    max-width: 1000px;
    margin: 0 auto; 
    font-size: 1em;
}
.lesson {color: maroon;
        background-color: darksalmon;
        border-radius:  10px;
        max-width:  800px; 
        padding: 2px;
}
.concept {color: darkgoldenrod;
          text-decoration: underline;
            font-size: .9em
}